<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--数据库连接配置信息-->
	<connectionStrings>
		<add name="mssql" connectionString="Data Source=127.0.0.1;Initial Catalog=netdemo;Integrated Security=True;" />
		<add name="sqlite" connectionString="Data Source=../../../lib/mydb.db3;" />
		<add name="mysql" connectionString="server=192.168.2.8;user=netdemo;password=netdemo888;database=netdemo;charset=utf8mb4;" />
	</connectionStrings>
</configuration>